<article class="post">
    <div ng-show="postData.bgUrl" class="post-img-bg hidden-sm hidden-xs" 
         style="background-image: url('{{postData.bgUrl}}')"></div>
    <div ng-hide="postData.bgUrl" class="post-img-bg hidden-sm hidden-xs" 
         style="background-image: url('imgs/post_bg.jpg')"></div>
    <div class="post-borda"></div>
    <div class="post-data">
        <header>
            <h3 class="post-titulo text-danger text-uppercase">{{postData.titulo}}</h3>
        </header>
        <div class="post-texto">{{postData.resumo}}</div>
    </div>
</article>